h1{
    color: red;
    text-align: center;
    font-style: italic;
    font-weight: 200;
  
}


style.
  body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}

.author{
    color: red;
    text-align: center;
    background-color:black;
}

.unathor{
    color: blueviolet;
}

header{
   
}
footer{
    background-color: rgba(255, 200, 0, 0.984);
    text-align: center;
    font-style: italic;
    font-weight: 200;

}
ul{
    display: flex;
    justify-content: flex-start;
    justify-content: right;
    gap: 4rem;
    list-style: none;

}

.li-class > a {
    color: goldenrod;
    font-size: 20px;
    text-decoration-line: none ;
    text-decoration: none;
    font-style: italic;
    font-weight: 200;
    
}



.li-class > a:hover {
    color:red;

}



#bg{
    background-color: rgb(235, 244, 133);
}

.line-class{
    color: red;
    text-decoration-thickness: 100rem;
    align-content: var();
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
  /* Base font size */
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}


.img{ width:90%; height:auto;}
.content-part-3{ padding:30px 0px !important; float:left;}
.content-part-3-inner{ padding:10px 0px;}
.content-part-3-right-h4{ font-weight:600; color:#000; padding:0px;}
.margin_5{ margin:5px 0px; float:left;}
.margin_p3{ margin:10px 0px 5px;}
.price{color:#000; padding:5px 0px; font-weight:bold; font-size:15px;}
.green{ color:#7db549; font-weight:bold; font-size:16px;}
.order-now{ color:#FFF; background:#7db549; padding:5px 15px; border-radius:2px; text-decoration:none; margin:5px auto;}
.order-now:hover{background:#689242;}
@media only screen and (min-width:320px) and (max-width:480px){
	.img{ width:100%;}
	}
@media only screen and (min-width:600px) and (max-width:768px){
	.img{ width:96%; border-radius:3px;}
	.content-part-3-right-h4{ font-weight:600; color:#000; padding:5px 0px 0px;}
	}

  /*
  .heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
}

.heading span {
  display: block;
}
  */