.row
  .content-part-3
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='images/menu/1.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Lorem Ipsum
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | 55.00/-
          |                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .margin_p3
            a.order-now(href='#!') Order Now
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='images/menu/2.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Lorem Ipsum
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | 150.00/-
          |                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .margin_p3
            a.order-now(href='#!') Order Now
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='images/menu/3.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Lorem Ipsum
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | 220.00/-
          |                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .margin_p3
            a.order-now(href='#!') Order Now
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='images/menu/4.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Lorem Ipsum
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | 90.00/-
          |                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          .margin_p3
            a.order-now(href='#!') Order Now