.row
  .content-part-3
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='assets/ROAST PANINI.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Frito Panini
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | $8.00/-
          |                     Marinated grilled chicken breast in Tandoori flavor -onion-tomato-lettuce-jalapeno-aioli& Mozzarella. 
          .margin_p3
            a.order-now(href='#!') Order Now
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='assets/MILANO.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Tandoori Panini
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | $9.00/-
          |                     Marinated grilled chicken breast in Tandoori flavor -onion-tomato-lettuce-jalapeno-aioli& Mozzarella 
          .margin_p3
            a.order-now(href='#!') Order Now
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='assets/ROASTO 2.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Milano Panini
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | $11.00/-
          |                     Marinated grilled chicken breast fresh onions - tomatoes - lettuce mozzarella cheese & herb mayo
          .margin_p3
            a.order-now(href='#!') Order Now
    .col-md-6.col-sm-12.col-xs-12
      .row.content-part-3-inner
        .col-md-5.col-sm-5.col-xs-12(align='center')
          img.img-responsive.img(src='assets/TUNA.jpg' alt='Menu Item')
        .col-md-7.col-sm-7.col-xs-12
          .content-part-3-right-h4 Tuna Panini
          .price
            | Price : 
            i.green
              span.fa.fa-inr
              | $8.00/-
          |        Tuna Fish - lettuce tomatoes - fried onions - chipotle sauce & herbs mustard - mozzarella. 
          .margin_p3
            a.order-now(href='#!') Order Now