.container
  //h1.heading
    | Image Gallery with CSS Grid 
    span &amp; Flexbox Fallback 
    
  .gallery
    .gallery-item
      img.gallery-image(src='assets/ROAST PANINI.jpg' alt='Roast Panini' title= 'Roast Panini' )
    .gallery-item
      img.gallery-image(src='assets/MILANO.jpg' alt='Milano' title= 'Milano')
    .gallery-item
      img.gallery-image(src='assets/TANDOORI.jpg' alt='Tandoori' title= 'Tandoori')
    .gallery-item
      img.gallery-image(src='assets/TUNA.jpg' alt='Tuna' title= 'Tuna')
    .gallery-item
      img.gallery-image(src='assets/SPICY WEDGES.jpeg' alt='Spicy Wedges' title= 'Spicy Wedges')
    .gallery-item
      img.gallery-image(src='assets/ROASTO 2.jpg' alt='Rosto' title='Rosto')

    
